{
    "mysqlHost": "localhost",
    "mysqlUser": "user",
    "mysqlPassword": "password",
    "mysqlPort": 3306,
    "mysqlDatabase": "gleanertest",
    "salt": "yoursaltplease",
    "mongoHost": "localhost",
    "mongoPort": 27018,
    "mongoDatabase": "gleanertest"
}